<mat-sidenav-container fullscreen>

    <mat-sidenav #refLocalBarraLateral mode="push">
        
        <mat-toolbar>
            <button mat-button 
                    (click)="refLocalBarraLateral.toggle()">
                <mat-icon>chevron_left</mat-icon> Menú
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./listado"
            mat-list-item 
            (click)="refLocalBarraLateral.toggle()">
            <mat-icon mat-list-icon>label</mat-icon>
                <span>Listado Heroes</span>
            </a>

            <a routerLink="./agregar"
            mat-list-item 
            (click)="refLocalBarraLateral.toggle()">
            <mat-icon mat-list-icon>add</mat-icon>
                <span>Agregar Heroe</span>
            </a>

            <a routerLink="./buscar"
            mat-list-item 
            (click)="refLocalBarraLateral.toggle()">
            <mat-icon mat-list-icon>search</mat-icon>
                <span>Buscar Heroes</span>
            </a>
        </mat-nav-list>


    </mat-sidenav>

    
    <mat-toolbar>
        <button mat-button color="green"
                (click)="refLocalBarraLateral.toggle()">
            <mat-icon>menu</mat-icon>
        </button>


        <span class="spacer"></span>

        <span>Bienvenido {{ loginData.getUsuarioData.usuario }} </span>
        <span class="spacer"></span>
        <button mat-raised-button  color="warn" (click)="logout()">
            <span>Logout</span>
        </button>


    </mat-toolbar>

    <div class="contenedor">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>

